#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}

.tables > tbody > tr:hover {
  background: #f2f9ff !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.like_link {
  text-decoration: none;
  color: black;
}
.footer_link {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.types_list .active {
  background-color: rgb(233, 246, 255);
  color: black;
  border-color: rgb(168, 200, 241);
}
.brand_list button {
  border: 1px solid #dee2e6;
  color: #888;
}
.brand_list button:hover {
  border-color: rgb(194, 217, 248);
  color: black;
  background-color: rgb(237, 248, 255);
}

.brand_list button:focus-visible {
  border-color: #b3b7bb;
  color: black;
  background-color: #dee2e6;
}

.brand_list .active {
  background-color: rgb(237, 248, 255);
  color: black;
  border-color: rgb(194, 217, 248);
  box-shadow: rgb(0, 0, 0) 0px 25px 20px -20px;
}

.product_card:hover {
  border-color: #7892ac;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.103) 0px 25px 20px 20px; */
}

/* PRODUCT PAGE */
.product_img_placeholder {
  height: 300px;
  width: auto;
  object-fit: contain;
  background-color: #f3f3f3;
}
.product_left_bar,
.basket_left_bar {
  /* background-color: #afc8e0; */
}
.product_right_bar,
.basket_right_bar {
  /* background-color: #cacaca; */
  min-width: 400px;
  max-width: 400px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.sticky {
  position: sticky;
  top: 10px;
}

.product_info .name {
  text-align: left;
}
.product_info .price {
  font-weight: bold;
}

.productImage {
}
.productImage img {
  /* height: 300px; */
  width: auto;
  object-fit: contain;
}
.productDescription {
  height: 26px;
  overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* BASKET BOX */

.basket_box .qty-input-group {
  width: 150px;
}

/* BASKET PAGE */
.basketItem {
  .product_img {
    max-width: 150px;
  }
  .product_img:hover {
    cursor: pointer;
  }
  h6 a {
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  .itemBlockPrice {
    font-weight: bold;
  }
}

/* PRODUCT INFO */
.productInfo-accordion .accordion-header button {
  font-weight: bold;
  color: #494949;
  background-color: white;
}

.accordion-header button[aria-expanded='true'] {
  background-color: #e3f1ff;
  color: #494949;
}

.productInfo-accordion .info_row {
  border-bottom: solid 1px #e7e7e7;
}
.productInfo-accordion > * {
  color: #505050;
}
.productInfo-accordion .info_row:hover {
  border-color: rgb(185 185 185);
}

.productInfo-accordion .title {
  min-width: 150px;
}

@media (max-width: 576px) {
  .product_right_bar,
  .product_left_bar,
  .basket_right_bar,
  .basket_left_bar {
    min-width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 1280px) {
  .product_right_bar,
  .basket_right_bar {
    padding-right: 10px;
  }
}

.status_help li {
  list-style: none;
}
